html, body{
    background: linear-gradient(lightgrey, grey, lightgrey, grey, lightgrey);
    width: auto;
    height: 100%;
}

img{
    width: 40px;
    height: 40px;
}

.container{
    margin-bottom: 10px;
}

.heading{
    margin-top: 20px;
    margin-bottom: 25px;
}

h1{
    text-align: center;
}

h4{
    text-align: center;
}

textarea{
    overflow: auto;
}

.time{
    font-size: 25px;
    background-color:lightgrey;
}