
img{
    width: 40px;
    height: 40px;
}

.container{
    width: 960px;
    margin-bottom: 10px;
}

.heading{
    margin-top: 20px;
    margin-bottom: 25px;
}

h1{
    text-align: center;
}

h4{
    text-align: center;
}

.time{
    font-size: 25px;
    background-color:lightgrey;
}